<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>
    <div id='wrapper'>
        @model Users
        <form asp-action="second" asp-controller="Home" method="Post">
            <input asp-for="name" placeholder="Your Name">
            <span asp-validation-for="name"></span>
            <span asp-validation-for="dojo"></span>
            <select asp-for ="dojo">
                 <option value=""></option>

                <option value="sanjose">San Jose</option>
                <option value="seattle">Seattle</option>
                <option value="texas">Texas</option>
            </select>
                <span asp-validation-for="favorite"></span>
            <select asp-for ="favorite">
                <option value=""></option>
                <option value="C#">C#</option>
                <option value="Python">Python</option>
                <option value="html">html</option>
            </select>
            <span asp-validation-for="text"></span>
            <textarea asp-for ="text" id="" cols="30" rows="10" placeholder="message"></textarea>
            <button type="submit">send</button>>
        </form>
    </div>
</body>

</html>