@model LoginUser;

<form asp-action="Login" method="post"> 

    <div class="form-group">
        <label asp-for="LoginUserName"></label>
        <input asp-for="LoginUserName" class="form-control">
        <span asp-validation-for="LoginUserName" class="test-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LoginPassword"></label>
        <input asp-for="LoginPassword" class="form-control">
        <span asp-validation-for="LoginPassword" class="test-danger"></span>
    </div>
<button>Submit</button>
</form>