@using System;
@using System.Collections.Generic

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Passcode Generator</title>
</head>

<body>
    
    <partial name="NavPartial" view-data="ViewData"/>

    <H2>Random Passcode</H2>
</body>

</html>