<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Success page</title>
</head>
<body>
    
    <div class="card text-center bg-warning bg-gradient">
        <div class="card-body">
            <h5 class="card-title">Login and Registration</h5>
            <p class="card-text">Register or login to start playing </p>
        </div>
        <h1>Success</h1>
    <a href="/user/logout"><button type="submit">Go Back</button></a>
    </div>
</body>
</html>