@model Dish

<form asp-action="Create" asp-controller="Home" method="post">
    <span asp-validation-for="Chef" class="text-danger"></span>
    <label asp-for="Chef"></label>
    <input asp-for="Chef">
    <span asp-validation-for="Name"></span>
    <label asp-for="Name"></label>
    <input asp-for="Name">
    <span asp-validation-for="Calories"></span>
    <label asp-for="Calories"></label>
    <input asp-for="Calories">
    <span asp-validation-for="Tastiness"></span>
    <label asp-for="Tastiness"></label>
    <input asp-for="Tastiness">
    <span asp-validation-for="Description"></span>
    <label asp-for="Description"></label>
    <input asp-for="Description">
    <button>Submit</button>
</form>