<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <H1>Hello world</H1>

    <form action= "/process" method="post">
        <p>
            name:
            <input type="text" name="name" id="">
            email:
            <input type="email" name="email" id="">
            password:
            <input type="password" name="password" id="">
        </p>
        <select name="fav_language" id="">
            <option value="python">Python</option>
            <option value="js">JS</option>
            <option value="java">Java</option>
        </select>
        <button type="submit">login</button>


    </form>

</body>
</html>