<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="post">
        Name: <input type="text" name="name">
        Email: <input type="email" name="email">
        <p>
        <select name="fav_language">
            <option value="python">Python</option>
            <option value="js">JS</option>
            <option value="java">Java</option>
        </select>
        </p>
        Comment: (optional)<textarea name="comment"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>